* {
    margin: 0;
    padding: 0;
}

/*navbar design*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 65px;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.common-button {
    background-color: #1D4ED8;
    font-weight: bold;
    color: #FFFFFF;
    padding: 9px 18px;
    border-style: none;
    border-radius: 8px;
}

/*Nav bar  design end*/
/*Hero sectin design*/

.hero-design {
    width: 100%;
    height: 600px;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Inter", sans-serif;
}

.text {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    font-weight:bold;
}

.paragraph {
    text-align: center;
    color: #FFFFFF;
    font-size:14px;
    padding: 15px 345px;
    
}

.common-button-reg {
    text-align: center;
    padding-top: 250px;
}
/*Hero section design End*/
/*Meet the Speakers Section*/
.Speakers-Section{
    font-family: "Inter", sans-serif;
    text-align:center;
    
}
.Speakers-Section h1{
    text-align:center;
    padding:50px;
    font-weight:bold;
}
.Speakers{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:25px;
    margin-left:60px;
    margin-right:60px;
    
}
.Speakers-box img{
    width:100%;
    border-top: #bc1818;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.Speakers-box{
    text-align:left;
    border:1px solid black;
    border-radius:8px;
}
.Speakers-box .skill{
    color:#1D4ED8;
    padding-left:20px;
    font-weight:bold;
}
.work{
    padding-left:20px;
    padding-bottom:22px;
}
div h3{
    padding-left:20px;
    font-weight:bold;
}
/*Meet the Speakers Section end*/


